nav{
    position: absolute; 
    right: 100px; 
    top: 20px; 
    color: #d7acd1;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block; 
    padding-right: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #b4dbdc;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    margin-top: -10px;
    margin-left: -10px; 
    margin-right: -8px; 
    height: 8vh; 
    border-radius: 0px 0px 20px 20px;
    padding-top: 25px; 
    padding-bottom: 10px; 
    padding-left: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: #f6c983;
}

body {
    background-color: #f6f0e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images2 {
    position: relative; 
    left: 40%; 
    right: auto; 
}

.primary h2, .secondary h2, .neutral h2, .warm h2, .cool h2, .pastel h2, .earth h2, .neon h2{
    text-align: center;
    margin-top: 30px; 
    text-decoration: underline;
    text-decoration-color: #f6c983;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.about-colors{
    /* border: solid;  */
    margin-bottom: 30px;
    margin-top: 20px;
    background: rgba(246, 201, 131, 0.3); 
    border-radius: 20px;
}

.about-colors p{
    padding: 15px; 
}

.content{
    /* border: solid;  */
    background: rgba(215, 172, 209, 0.3); 
    border-radius: 20px;
}

.content p, .content h2{
    padding-left: 15px; 
    padding-right: 15px;
}

.content h2{
    padding-top: 20px;
}

.content p{
    padding-bottom: 20px; 
}

table {
    border: solid; 
    border-color: #d7acd1;
    background-color: #f6f0e8;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-radius: 20px;
} 

td{
    border: solid; 
    padding: 5px; 
    border-color: #d7acd1;
    border-width: 5px;

}

tr, th {
    border: solid; 
    border-color: #d7acd1;
    border-width: 5px;
}
